{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block styles %}
  {{block.super}}

<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
{% endblock %}
{% block content %}
<div class="container-fluid" >
  <div class="row" style="background-image: url(https://images.unsplash.com/photo-1498957607239-c54bf0abde7a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f99dbfab51d62ef16c0e8cac3f663427&auto=format&fit=crop&w=334&q=80); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;">
    <!-- Empty div -->
    <div class="col-md-4" ></div>
    <div class="col-md-4 mt-5" style="border:1px  solid #E6E6E6;">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign In</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>
      <div class="panel-body mt-5 mb-5" style="border:1px  solid #E6E6E6;">
        <p class='text-center mt-2' >Don't have an account? <a href="/signup"> SignUp </a>here.</p>
      </div>
    </div>
    
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}
