{% extends 'base.html'%}
{% load staticfiles %}
{% load bootstrap4 %}

<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

{% block content %}

{{block.super}}
<div class="container">

  <div class="jumbotron text-center mt-5" style="background-color:greenyellow;">

    <h1 class="h1" style="font-family: 'Dosis', cursive; color:white;font-size:70px;">Business</h1>


  </div>
</div>
  
<div class="container">
  <div class="card mb-3 border border-info " style="width:40rem;background-color:greenyellow;">
    <div class="card-body">

      <h5 class="card-title border-bottom" style="font-family: 'Dosis', sans-serif;color:white;"><strong>Business Name:</strong>
        <br> {{businesses.business_name}}
      </h5>
      <p class="card-text" style="font-family: 'Dosis', sans-serif;color:white;"><strong>Contact:</strong>
        <br> {{businesses.business_email_address}}
      </p>
    </div>


    </div>
  </div>




  {% endblock %}
