{% extends 'base.html'%}
{% load staticfiles %}
{% load bootstrap4 %}

<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

{% block content %}

{{block.super}}
<div class="jumbotron text-center mt-0 mb-0" style="background-color:#000000;font-family: 'Dosis', sans-serif;">
  <h2 class="animated zoomInLeft" style="text-align:center;font-size:40px;color:#ffffff;"><strong>NEIGHBOURHOOD DIRECTORY</strong></h2>
      <div class="card-deck d-flex w-32 " style="background-color:#000000">
        {% for neighborhood in neighborhoods %}
        <div class="card w-33 border border-info" style="background-color:#000000">
            <div class="card-title border-bottom">
              <p style="font-size:20px;color:white;"><strong>NEIGHBOURHOOD:</strong>

                <strong><a href="/neighbourhood/{{neighbourhood.id}}">{{neighborhood.neighborhood_name}}</a></strong> </p>
            </div>

            <div class="card-body border-info w-33" style="background-color:black;">
              <p style="color:white;">{{neighborhood.neighborhood_location}} </p>
              <p style="font-family: 'Dosis', sans-serif; text-align:center;color:white"> Resident Population:

                {{ neighborhood.population}}
              </p>
              <button id="button" class="btn btn-lg btn-info animated pulse loop"
                      style="font-family:'Dosis', sans-serif; text-align:center; width:35%;">
                {% if user.profile.neighborhood_id == None %}
                <a href="{% url 'join' neighborhood.id %}">
              JOIN</a> </button>
              {% endif %}

        </div>


    </div>
        {% endfor %}
        </div>
</div>



  {% endblock %}

