{% extends 'base.html'%}
{% load staticfiles %}
{% load bootstrap4 %}

<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

{% block content %}

{{block.super}}
<div class="container-fluid text-center " style="background-color:#f7f7f5;font-family: 'Dosis', sans-serif; margin-top:70px">
<div class="header">
    <h2 class="animated zoomInLeft mt-5" style="text-align:center;font-size:45px;color:greenyellow; margin-bottom:70px;"><strong>Welcome to MyHood</strong></h2> 
</div>
    <div class="row ml-5">
 
        {% for neighborhood in neighborhoods %}
        <div class="card-deck  mt-5 col-xs-3 col-sm-3 col-md-3 col-lg-3 " style="height:500px;" >
            <div class="card">
              <img class="card-img-top" src="{{neighborhood.neighborhood_image.url}}" alt="Card image cap" style="height:30%;">
              <div class="card-body">
                <div class="card-title">
                <h5 class="card data" style="font-size:15px;"><strong>NEIGHBOURHOOD</strong></h5>
                </div>
                <p class="card-text"><strong><a href="/neighbourhood/{{neighbourhood.id}}">{{neighborhood.neighborhood_name}}</a></strong> </p>
                <div class="card-body border-info w-33" style="background-color:greenyellow; border-radius: 5px;">
                    <p style="color:white;">{{neighborhood.neighborhood_location}} </p>
                    <p style="font-family: 'Dosis', sans-serif; text-align:center;color:white"> Resident Population:
      
                      {{ neighborhood.population}}
                    </p>
                
              </div>
              <div class="card-footer">
                  <button id="button" class="btn  mt-3 btn-outline-success animated pulse loop"
                  style="font-family:'Dosis', sans-serif; text-align:center; width: 100%;">
            {% if user.profile.neighborhood_id == None %}
            <a class='btn btn-default' href="{% url 'join' neighborhood.id %}">
          join</a> </button>
                {%endif%}
              </div>
            </div>
        </div>
        </div>

    
        {% endfor %}
        
</div>
</div>



  {% endblock %}

