{% extends 'base.html'%}
{% load staticfiles %}
{% load bootstrap4 %}

<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

{% block content %}

{{block.super}}
<div class="container-fluid text-center " style="background-color:#f7f7f5;font-family: 'Dosis', sans-serif; margin-top:70px">
<div class="header">
    <h2 class="animated zoomInLeft mt-5" style="text-align:center;font-size:45px;color:greenyellow; margin-bottom:70px;"><strong>Welcome to MyHood</strong></h2> 
</div>
    <div class="row">
 
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="card col-sm-8 col-md-8 col-lg-8">
              <img class="card-img-top" src="{{neighborhood.neighborhood_image.url}}" alt="Card image cap">
              <div class="card-body">
                <div class="card-title">
                <h5 class="card data" style="font-size:18px;"><strong>NEIGHBOURHOOD</strong></h5>
                </div>
                <p class="card-text"><strong><a href="/neighbourhood/{{neighbourhood.id}}">{{neighborhood.neighborhood_name}}</a></strong> </p>
                <div class="card-body border-info w-33" style="background-color:greenyellow; border-radius: 5px;">
                    <p style="color:white;">{{neighborhood.neighborhood_location}} </p>
                    <p style="font-family: 'Dosis', sans-serif; text-align:center;color:white">
      
                      {{ neighborhood.population|length}} businesses are here 
                    </p>
                
              </div>
              <div class="card-footer">
                  <button class="btn  btn-outline-danger"
                  style="font-family:'Dosis', sans-serif; text-align:center; width: 30%;">
            <a class="btn btn-default animated pulse loop" href="{% url 'exit' neighborhood.id %}" >
          exit hood</a> </button>
          
          {% if user.profile.neighborhood_id == None %}
                  <button id="button" class="btn  btn-outline-success animated pulse loop"
                  style="font-family:'Dosis', sans-serif; text-align:center;width: 30%; ">
        
            <a  class='btn btn-default' href="{% url 'business' neighborhood.id %}">
          businesses</a> </button>
                {%endif%}
                <!-- <li style="font-family: 'Oswald', sans-serif;"> -->
                  <button class="btn btn-outline-info"  style="font-family:'Dosis', sans-serif; text-align:center;width: 30%; " >
                  <a class='btn btn-default' href="{% url 'new_business'%}">create business</a>
                </button>
                <!-- </li>
                <br> -->
              <hr>
              </div>
              <div class="comments">
              
              <!-- <h5 class="card-title" style="font-family: 'Oswald', sans-serif;"></h5> -->
       
               <p style="font-family: 'Oswald', sans-serif;">   {{ neighborhood.comments }}</p>
              </div>
            
       
            </div>
         
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">

         
        </div>
        
</div>
</div>



  {% endblock %}

