{% extends 'base.html'%}

{% block content %}

<div class="container" style="background-color:#f7f7f5;font-family: 'Dosis', sans-serif; margin-top:70px">
    <div class="row">
    {% if searched_business %}
    <h2> Found {{searched_business|length }} of searched term  for {{message}}</h2>
    {% else %}
    <h2>Found 0 searches for the search term {{message}}</h2>
    {% endif %}
</div>

<div class="row">
    {% if searched_business %}
    {% for business in searched_business %}
    <div class="col-sm-6 col-md-3">
        <a href="{% url 'business' business.id %}"> <p>{{business.business_name}}</p></a>
    </div>
    {% endfor %}
    {% endif %}

</div>

</div>

{% endblock %}

